*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    max-width: 900px;
    margin: 0 auto;
}
.row{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
}
.col{
    flex-basis: calc(100% / 3 - (15px * 2) / 3);
    min-width: 290px;
    flex-grow: 1;
    min-height: 400px;
}

button{
    border: none;
    background-color: transparent;
}
#pricing-plans{
    font-family: sans-serif;
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .toggles{
        text-align: end;
        flex-grow: 1;
    }
    ul{
        list-style: none;
    }
    
}

.card{
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 9px rgba(194, 194, 194, 0.363); 
}
.gray-txt{
    color: gray;
    font-size: 12px;
}