* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

.col {
    flex-basis: calc(100% / 3 - (15px * 2) / 3);
    min-width: 290px;
    flex-grow: 1;
    min-height: 400px;
}

button {
    border: none;
    background-color: transparent;
}

#pricing-plans {
    font-family: sans-serif;

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .toggles {
        text-align: end;
        flex-grow: 1;
    }

    ul {
        list-style: none;
    }

    .card {
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 9px rgba(194, 194, 194, 0.363);
        margin: 0.5rem;

        .body-card {
            text-align: center;
        }

        .list {
            line-height: 45px;
            text-align: start;
            li>span{
                font-size: 14px;
                padding: 0 0.5rem ;
            }
            li>i{
                font-size: 1.5rem;
            }
        }

        .price {
            margin: 1rem 0;
            .number {
                font-size: 3rem;
                font-weight: bold;
            }
        }
        .discount{
            font-size: 13px;
            margin: 1rem 0;
        }
    }
    
}

.btn{
    width: 100%;
    background-color: #6500ff;
    border-radius: 0.5rem;
    padding: 0.75rem;
    color: white;
}
.gray-txt {
    color: gray;
    font-size: 12px;
}
.gray-background{
    background-color: rgba(194, 192, 192, 0.42);
    border-radius: 5px;
    padding: 0.35rem;
}

